Name = {{ inventory_hostname }}
{% for k, v in tinc_main_conf.items() -%}
{% if v is not string and v is sequence -%}
{% for v_item in v -%}
{{ k }} = {{ v_item }}
{% endfor -%}
{% else -%}
{{ k }} = {{ v }}
{% endif -%}
{% endfor -%}
